<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:theme="@style/Theme.IQ5">

        <activity android:name=".MainActivity" android:exported="false" />

        <activity
            android:name=".feature.result.ui.test"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".feature.result.ui.ResultActivity" android:exported="false" />
        <activity android:name=".feature.result.ui.DailyRewardActivity" android:exported="false" />
        <activity android:name=".feature.result.ui.AchievementActivity" android:exported="false" />
        <activity android:name=".feature.result.ui.StatsActivity" android:exported="false" />
        <activity android:name=".feature.result.ui.StreakActivity" android:exported="false" />

    </application>
</manifest>